@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&family=PT+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 999px;
  padding: 1.5rem !important;
  color: white !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.25rem !important;
  font-weight: 900;
}

@layer base {
  html {
    font-family: "Heebo", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "PT Sans", sans-serif;
    letter-spacing: -1px;
  }
}

@layer components {
  .container-width {
    @apply px-4 lg:w-11/12 lg:px-0;
  }
}
